html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  background: url(../images/background.jpg);
  color: #fff;
}

body {
  padding: 100px;
}

.nav {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  list-style: none;
}
.nav > li {
  float: left;
}
.nav > li > a {
  background-color: #2F2F2F;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  display: inline-block;
}
.nav > li:first-child > a {
  border-left: none;
}
.nav > li.current > a {
  background-color: #4F4F4F;
}

h1 {
  font-size: 80px;
}

a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 45px;
}
